.hero {
    position: relative;
}
#logo {
    width:490px;
}
#mlh-trust-badge {
    position: fixed;
    top: 0;
    right: 7px;
    width: 80px;
    display: inline-block;
    animation: down 2s;
    
}

body {
    background-image: url("https://cdn.hackclub.com/019eee8a-e443-77d2-8e6f-483c98341293/Untitled%20design%20(37).png");
}

#rocket {
    width: 70px;
    rotate: 27deg;
    position: absolute;
    bottom: -13px;
    right: 10px;
    animation:move 3s infinite;

}

.imagecont {
    position:fixed;
    top: 45vh;
    transform: translateY(-50%);
    left: 15vw;
    position: relative;
    display: inline-block;
}

@keyframes move {
    0% {
        transform: translateX(30%);
    }
    50% {
        transform: translateY(40%);
    }
    100% {
        transform: translateX(30%);
    }
}

#gm {
    width: 120px;
    position: absolute;
    top: 35px;
    left: 18px;
    animation: rot 3s infinite;
    
}

@keyframes rot {
    0% {
        rotate: 0;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.prize {
    position: absolute;
    width: 170px;
    display: inline-block;
    user-select: none;
    touch-action: none;
    cursor: grab;
}

.prize:active {
    cursor: grabbing;
}

#prize1 {
    top: 2px;
    right: 400px;
}
#prize2 {
    top: 21vh;
    right: 220px;
}
#prize3 {
    top: 48vh;
    right: 220px;
}
#prize4 {
    top: 75vh;
    right: 400px;
}
#prizee {
    position: fixed;
    left: 10%;
    bottom: 10%
}

#where {
    position: fixed;
    left: calc(10% + 70px);
    bottom: 10%
}

#when {
    position: fixed;
    left: calc(10% + 140px);
    bottom: 10%
}
#timeline {
    position: fixed;
    left: calc(10% + 210px);
    bottom: 10%
}
#venue {
    position: fixed;
    left: calc(10% + 280px);
    bottom: 10%
}
#sponsors {
    position: fixed;
    left: calc(10% + 350px);
    bottom: 10%
}


button {
    padding: 10px;
    border-radius: 20px;
    width: 80px;
    background-color: skyblue;
    border: 1px solid rgb(255, 255, 255);
}
button:hover {
    cursor:pointer;
    background-color: white;
    border: 0.00001px solid rgb(209, 209, 209);
    color: black;
}



@keyframes rig {
    from {
        position: fixed;
        left: 70vw;
    }
    to {
        position: fixed;
        left: 85vw;
    }
}

.right {
    animation: rig 1s forwards;
}

.rig1 {
    animation: rig1 1s forwards;
}


@keyframes rig1 {
    from {
        position: fixed;
        left: 60vw;
    }
    to {
        position: fixed;
        left: 70vw;
    }
}

/* reverse */

@keyframes rigr {
    from {
        position: fixed;
        left: 85vw;
    }
    to {
        position: fixed;
        left: 70vw;
    }
}

.rightr {
    animation: rigr 1s forwards;
}

.rig1r {
    animation: rig1r 1s forwards;
}


@keyframes rig1r {
    from {
        position: fixed;
        left: 70vw;
    }
    to {
        position: fixed;
        left: 60vw;
    }
}



#indiagate {
    width: 300px;
    position: fixed;
    right: -20vw;
    top: 23vh;
    transition: 1s;
}

#indiagate.add {
    right:20vw
}

@keyframes aniir {
    0% {
        position: fixed;
        right: 20vw;
        top: 23vh;
    }
    100% {
        position: fixed;
        right: -20vw;
        top: 23vh;
    }
}


.anii {
    animation: anii 1s forwards;
}

.aniir {
    animation: aniir 1s forwards;
}
#wave {
    position: fixed;
    top: 0;
    left: 0;
    animation: waveani 2s;
}

@keyframes waveani {
    0% {
        position: fixed;
        top: -20vh;
        left: -20vw;   
    }
    100% {
        position: fixed;
        top: 0;
        left: 0;   
    }
}

@keyframes newwaveani {
    0% {
        position: fixed;
        top: 0;
        left: 0;    
    }
    50% {
        position: fixed;
        top: -20vh;
        left: -20vw;    
    }
    100% {
        position: fixed;
        top: 0;
        left: 0; 
    }
}

.wavenew {
    animation: newwaveani 2s;
}

#timel{
    width: 300px;
    position: fixed;
    right: -25vw;
    top: 23vh;
    transition: 1s;
}

#timel.show {
    right: 20vw;
}

@keyframes timeani {
    0% {
    position: fixed;
    right: -25vw;
    top: 23vh;
    }
    100% {
    position: fixed;
    right: 20vw;
    top: 23vh;
    }
}

@keyframes timeanir {
    0% {
    position: fixed;
    right: 20vw;
    top: 23vh;
    }
    100% {
    position: fixed;
    right:-25vw;
    top: 23vh;
    }
}