.hero {
    position: relative;
}
#logo {
    width:490px;
}
#mlh-trust-badge {
    position: fixed;
    top: 0;
    right: 7px;
    width: 80px;
    display: inline-block;
    
}

body {
    background-image: url("https://cdn.hackclub.com/019eee8a-e443-77d2-8e6f-483c98341293/Untitled%20design%20(37).png");
}

#rocket {
    width: 70px;
    rotate: 27deg;
    position: absolute;
    bottom: -13px;
    right: 10px;
    animation: move 3s infinite;

}

.imagecont {
    position:fixed;
    top: 45vh;
    transform: translateY(-50%);
    left: 15vw;
    position: relative;
    display: inline-block;
}

@keyframes move {
    0% {
        transform: translateX(30%);
    }
    50% {
        transform: translateY(40%);
    }
    100% {
        transform: translateX(30%);
    }
}

#gm {
    width: 120px;
    position: absolute;
    top: 35px
}